//Блок особенности

.features__item{
    @extend %list;  

    @media screen and (min-width:768px) {
        display: flex;  
        flex-wrap: wrap;
        margin: -15px; 
    }
   
}
.features__list{
    display: block;
    margin: auto;
    @extend %list;

    &:not(:last-child){
        @media screen and (max-width:768px){
            margin-bottom: 30px;
            }
    }

    
    @media screen and (min-width:768px) {
        max-width: calc((100% - 4*15px)/2);
        margin: 15px;   

    }
    @media screen and (min-width:1200px) {
        max-width: calc((100% - 4*30px)/4); 
        margin: 15px;   
        
    }
}
.features__span{
    @extend %flex;
    justify-content: center;
    background: $background-secondary;
    border-radius: 4px;
    height: 120px;

    @media screen and (max-width:768px) {
        width: 450px;   
    }
    @media screen and (min-width:768px) {
        width: 354px;
    }
    @media screen and (min-width:1200px) {
        width: 270px;
    }
}
.features__span:not(:last-child){
    margin-bottom: 30px;
}
.features__title{
    display: flex;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-color;
    margin-bottom: 10px;

    @media screen and (max-width:768px) {
        justify-content: center;   
    }
}
.features__content{
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;            
}
