/*.footer{
    background-color: $background-dark;
    padding-top: 60px;;
    padding-bottom: 60px;
}

.footer__logo{
    display: block;
    margin-bottom: 20px;
}
.footer-section{
    display: flex;
    width: 1200px;
    margin-left: 15px;
    margin-right: 15px;
    margin: 0 auto;
}

.address__part{
    font-family: Roboto;
    color: $text-title;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    margin-bottom: 9px;
}

.contacts__list{
    margin-bottom: 9px;
}


.contacts{
    display: block;
    display: flex;
    justify-content: center;
}

.contacts__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
    color: $primary-color;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: $interactive;
    }
}


.social-box__appeal,
.sign-box__appeal{
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-title;
}

.social-links{
    display: flex;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    @extend %list;
}

.social-links__list:not(:last-child){
    margin-right: 10px;
}

.social-links__link{
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        background-color:  $interactive;  
    }
}

.footer__social-icon{
    fill: $text-title;
    margin-left: 12px;
    margin-top: 12px; 
}

.address-box{
    margin-right: 70px;
}


.sign-box{
    margin-left: 93px;
}
.contacts{
    display: inline-flex;
    flex-direction: column;
    @extend %list;
}
.contacts__link{
    font-family: Roboto;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}


.sign-form{
    @extend %flex;
}

.sign-form__input{
    background-color: $background-dark;
    padding: 16px 15px;
    margin-top: 20px;
    margin-right: 12px;
    min-width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $text-title;
    &::placeholder{
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.sign-form__icon{
    margin-left: 10px;
    margin-top: 0;
 
}
.sign-form{
    display: flex;
}

.sign-form__btn{
    border: none;
    padding: 10px 28px;
    margin-top: 20px;
    min-width: 200px;
    height: 50px;
    background: $interactive;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    @extend %flex;
    text-align: center;
    letter-spacing: 0.06em;
    color: $text-title;
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        background-color: #188CE8;
    }
}
*/