
html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: $background-light;
    color: $primary-color;
    letter-spacing: 0.06em;
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    padding: 0;
    margin: 0;
}

.conteiner{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (max-width:767px) {
        width: 480px;
    }

    @media screen and (max-width:1199px) {
        width: 768px;
    }

    @media screen and (min-width:1200) {
        width: 1200px;
    }
    

}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

a{ 
    text-decoration: none;
}


