/*
html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: $background-light;
    color: $primary-color;
    letter-spacing: 0.06em;
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    padding: 0;
    margin: 0;
}

.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

a { 
    text-decoration: none;
}

*/


