/*

.logo{
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo__part{
    color: $interactive;
}

.logo__light{
    color: $text-title;
}

.logo__dark{
    color: $secondary-color;
    margin-right: 93px;
}
*/