

//Мобильное меню

.mob-menu-container{
    position: relative; 

    @media screen and (max-width:768px) {
        display: block;
    }
    
    @media screen and (min-width:768px) {
        display: none;
    }
    
}

//Кнопки

.menu-toggle{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: $background-light;
    fill: currentColor;
    cursor: pointer; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        fill: $interactive;
    }
}

//Меню 
.menu-container {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $background-light;
    z-index: 999;
    transform: translateX(100%);
    display: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
        transform: translateX(0);
        display: block;
    }
}

.mob-menu{
    @extend %list;
    
}

.mob-menu__item{
    @extend %list;
}
.mob-menu__list:not(:last-child){
    margin-bottom: 32px;
}
.mob-menu__link{
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;   
    color: $secondary-color;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        color:$interactive;
    }
}

@media screen  and (max-width:767px) {
    .mob-menu__tel{
        font-size: 34px;
        line-height: 1.18;
    }
    .mob-menu__mail{
        font-size: 24px;
        line-height: 1.16;
    }
}


//Меню таблетка и десктоп

.main-nav{
    display: flex;
}

.main-nav__item{
    display: flex;
    @extend %list;

}
.main-nav__list{
    padding-top: 32px;
    padding-bottom: 32px;
}
.main-nav__list:not(:last-child){
    margin-right: 50px;
}

.main-nav__link{
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-color; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color:$interactive;
    }

}

.main-nav__link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: $interactive;
    border-radius: 2px;
    opacity: 0;
}

.current::after{
    opacity: 1;
    color: $interactive;
}
.contacts-box__icon{
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        fill:$interactive;
    }

    @media screen  and (min-width:768px) {
        margin-right: 8px;
    }   

    @media screen  and (min-width:1200px) {
        margin-right: 10px;
    }  
}

