//Хедер
.page-hader{
    border-bottom:  1px solid #ECECEC;
}

.page-hader__conteiner{

    @media screen and (max-width:768px) {
        display: none;
    }
    
    @media screen and (min-width:768px) {
        display: flex;
    }
}