/*

.team{
    background-color: $background-secondary;
}

.team__title{
    font-family: Roboto;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: $secondary-color;
    @extend %centred;
}

.team__list{
    display: block;
    width: 270px; 
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @extend %centred;
    @extend %list;
}

.team__list:not(:last-child){
    margin-right: 30px;
}

.team__img{
    margin-bottom: 30px;
}

.team__name{
    font-family: Roboto;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em; 
    color: $secondary-color;  
    margin-bottom: 10px;
}

.team__post{
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: &primery-color;
    margin-bottom: 16px;
}

.team__item{
    @extend %flex;
}

*/