$interactive:              #2196F3; //цвет текста выделения ссылок при фокусе, акцент
$btn-control:              #FFFFFF;/*цвет текста на кнопке при фокусе */
$btn:                      #212121;/*цвет теста на кнопке в спокойном состоянии*/ 

/*Текст*/
$primary-color:            #757575;/* основной цвет текста*/
$secondary-color:          #212121;/* вторичный цвет текста*/
$text-title:               #FFFFFF;/*цвет текста в герое*/                  

/*Фон*/
$background:               #E5E5E5;/*цвет основного фона*/
$background-secondary:     #F5F4FA;/*цвет фона кнопки в спокойном состоянии*/
$background-dark:          #2F303A;/*цвет фона в футере*/
$background-light:         #FFFFFF;/*цвет фона в хедере*/
$background-btn-control:   #2196F3;/*цвет фона на кнопке при фокусе*/